{%load static%}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>ValePredict</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div style="background-color: #004d33; color: white; padding: 20px;">
        <h1>ValePredict</h1>
        <p>Imagine saber, antes de iniciar...</p>
        <a href="{% url 'previsao:calcular_previsao' %}" style="background: orange; padding: 10px; color: white; text-decoration: none;">Comece já</a>
    </div>
</body>
</html>