<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/credentials.css' %}">
</head>
<body>
    <div>
        <form method="POST">
            {% csrf_token %}
            <h1>Cadastro</h1>
            <input type="text" name="username" placeholder="Digite seu nome de usuário" required>
            <input type="email" name="email" placeholder="Digite seu e-mail" required>
            <input type="password" name="password1" placeholder="Digite sua senha" required>
            <input type="password" name="password2" placeholder="Confirme sua senha" required>
            <button type="submit">Cadastrar</button>
            <a href="{% url 'previsao:login' %}">Já tem uma conta? Faça login</a>
        </form>
    </div>
</body>
</html>